menu{
    max-width: 1345px;
    min-height: 30%;
}
menu > header{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
menu > header > ul#painel > li#logo{
   
    padding-left: 20px;
    margin-right: 50px;
}
menu > header > ul#painel > li#logo img{
    height: 100%;
    width: 160px;
}
header > #painel > li > a > span{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #686868;
}
header > ul#painel{
    display: flex;
    align-items: center;
}
header > ul#painel > li{
    margin-right: 160px;
}
header > ul#social-icon{
    display: flex;
    align-items: center;
}
header > ul > li > a{
   margin-right: 10px;
}
header > ul > li > a > img{
    height: 20px;
    width: 15px;
}
header > ul > li#icon > a img{
    width: 120px;
    height: 38px;
}
