menu{
    min-height: 95px;
}
menu > header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
menu > header > a{
    
    
}
menu > header > ul#painel > li#logo{
    position: relative;
    padding-left: 20px;
    margin-right: 50px;
}
menu > header > ul#painel > li#logo img{
    height: 70px;
    width: 120px;
}
header > ul#painel{
    display: flex;
    align-items: center;
    
    

}
header > ul#painel > li{
    margin-right: 160px;
}
header > ul#social-icon{
    display: flex;
    align-items: center;
}
header > ul > li{
   
 
}
header > ul > li > a{
   margin-right: 8px;
}
header > ul > li > a > img{
    height: 20px;
    width: 15px;
}
header > ul > li#icon > a img{
    height: 50px;
    width: 100px;
}
