menu{
    width: 1345px;
    min-height: 30%;
}
menu > header{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
menu > header > ul#painel > li#logo{
    padding-left: 20px;
    margin-right: 50px;
}
menu > header > ul#painel > li#logo img{
    height: auto;
    width: 160px;
}
header > #painel > li > a > span{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #686868;
    margin-right: 3em;
}
#painel li a span:hover{
    color: rgba(3, 3, 3, 0.384);
    font-size: 1.6rem;
}
header > ul#painel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > ul#social-icon{
    display: flex;
    align-items: center;
}
header > ul > li > a{
    margin-right: 10px;
}
header > ul > li > a > img{
    height: 20px;
    width: 15px;
}
header > ul > li#icon > a img{
    width: 120px;
    height: 38px;
}
