article > header > div{
    position: relative;
    width: 1345px;
    height: 1080px; 
}
article > header > div::before{
  content: "";
  background-image: url(/imagens/imagens.dos.videos/bg_video.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 70%;
  display: block;
}
article > header > div > video{
  position:static;
  align-items: center;
  justify-content: center;
  width: 1345px;
  height: auto;
}
article > header > div > span{
  display: inline-block;
  margin-top: 1.5em;
  right: 5%;
  position: fixed; 
}
